<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SincronizaWS.Metodos.Properties.Settings.DbConection"
            connectionString="Data Source=192.168.0.13\AX13;Initial Catalog=MAGDA1;Persist Security Info=True;User ID=sa;Password=masterkey"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>